<h1>Animals, ranked.</h1>

<ol>
	<li><img width="400" ng-click="easteregg = !easteregg" src="img/animals/dog.png"></li>
	<li><img width="400" ng-click="easteregg = !easteregg" src="img/animals/zebra.png"></li>
	<li><img width="400" ng-click="easteregg = !easteregg" src="img/animals/cat.jpg"></li>
	<li>
		<img width="400" ng-click="easteregg = true" src="img/animals/bird.png" ng-hide="easteregg">
		<img width="400" ng-click="easteregg = false" src="img/animals/bird2.jpg" ng-show="easteregg">
	</li>
</ol>