<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AngularJS Part 1</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
  </head>
  <!-- Declare our app on the page -->
  <body ng-app="myApp">

    <!-- Example of how to use ng-include -->
    <div ng-include="'templates/demo.html'"></div>

    <hr>

    <!-- Example of how to instantiate a controller from a template -->
    <div ng-controller="DemoController">
      <p>Name: <input type="text" ng-model="name"></p>
      <p>Hello {{name}}</p>
      <p><button ng-click="sayHello(name)">Say Hello from DemoController</button></p>
      <p><button ng-click="sayHelloFromService(name)">Say Hello from DemoService</button></p>
      <p>Here's a demo list.</p>
      <ul>
        <li ng-repeat="item in items">{{item}}</li>
      </ul>
      <!-- This changes the route, which laods another controller into the ng-view below -->
      <p><a href="#/demo">Try out some of the routes</a>.</p>
    </div>

    <hr>

    <!-- The ng-view block denotes where all route related content/controllers will be loaded. -->
    <div ng-view=""></div>

    <!-- Include our AngularJS platform files here. -->
    <script src="scripts/angularjs/angular.js"></script>
    <script src="scripts/angularjs/angular-route.js"></script>
    <!-- Declare our Application and Routes -->
    <script src="scripts/app.js"></script>
    <!-- Include all supporting controllers, services, directives, and filters -->
    <script src="scripts/controllers/demo.js"></script>
    <script src="scripts/services/demo.js"></script>
    <script src="scripts/services/tools.js"></script>
    <!-- Include controllers, services, etc. to support routes -->
    <script src="scripts/routes.js"></script>
    <script src="scripts/controllers/demoRoute.js"></script>
    <script src="scripts/controllers/demoRoute2.js"></script>
    <!-- End of script includes. -->

</body>
</html>
